# Lab | Revisiting machine learning

## Check for null values in all the columns

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('learningSet.csv')
data.head()

C:\Users\laura\AppData\Local\Temp\ipykernel_20024\687616697.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('learningSet.csv')

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [3]:
categorical = data.select_dtypes([object])
categorical.head()

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A

In [4]:
categorical.shape

(95412, 74)

In [5]:
categorical.isnull().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

In [6]:
nulls_percent_df = pd.DataFrame(categorical.isna().sum()/len(categorical)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

   column_name  nulls_percentage
0      OSOURCE          0.000000
1        STATE          0.000000
2          ZIP          0.000000
3     MAILCODE          0.000000
4     PVASTATE          0.000000
..         ...               ...
69      RFA_2A          0.000000
70    MDMAUD_R          0.000000
71    MDMAUD_F          0.000000
72    MDMAUD_A          0.000000
73    GEOCODE2          0.001383

[74 rows x 2 columns]

In [7]:
nulls_percent_df[nulls_percent_df['nulls_percentage']!=0]

   column_name  nulls_percentage
73    GEOCODE2          0.001383

## Create a new empty list called drop_list. We will append to this list a set of columns to be droped later. Add the following columns to this:
## OSOURCE - symbol definitions not provided, too many categories
## ZIP - we are including state already

In [8]:
drop_list = []
drop_list.append('OSOURCE')
drop_list.append('ZIP')
drop_list

['OSOURCE', 'ZIP']

## Identify columns that over 85% missing values and add them to the previous list.

In [9]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]
columns_above_threshold

Empty DataFrame
Columns: [column_name, nulls_percentage]
Index: []

In [10]:
drop_list.extend(list(columns_above_threshold['column_name']))
drop_list

['OSOURCE', 'ZIP']

In [11]:
len(drop_list)

2

## Remove the columns included in the drop_list from the dataframe

In [12]:
categorical.drop(drop_list, axis=1, inplace=True)
categorical.head()

,STATE,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,IL,,,0,,,,,XXXX,T2,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,CA,,,0,,,,,XXXX,S1,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,NC,,,0,,,,,XXXX,R2,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,CA,,,0,,,,,XXXX,R2,...,A1D,A1D,,,L,E,X,X,X,C
4,FL,,,0,X,X,,,XXXX,S2,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A

In [13]:
categorical.shape

(95412, 72)

## Now, reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

### Note that there are a few null values in the column. We will first replace those null values using the code below:

In [14]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [15]:
categorical['GENDER'].unique()

array(['F', 'M', ' ', 'C', 'U', 'J', 'A'], dtype=object)

In [16]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x.replace(" ", "F"))

In [17]:
categorical['GENDER'].value_counts()

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [18]:
def clean_gender(x):
    other_gender = ['U','J','C','A']
    if x in other_gender:
        return 'other'
    else:
        return x

In [19]:
categorical['GENDER'] = list(map(clean_gender, categorical['GENDER']))

In [20]:
categorical['GENDER'].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64